{% extends 'core/base__with_sidebar.html' %}
{% load static mptt_tags %}


{% block page_title %}{{ category.name }} / {% for category in category_bread_crumbs|dictsortreversed:'level' %}{{ category.name }} / {% endfor %}Каталог товаров{% endblock %}

    
{% block additional_static %}
    <meta name="description" content="Купить {{ category.name }} в Тюмени" />
    <link rel="stylesheet" type="text/css" href="{% static 'shop__styles.css' %}"/>
{% endblock %}


{% block bread_crumbs %}
    <a href="{% url 'main_page' %}">Главная</a>
    <span> / </span>
    <a href="{% url 'catalog' %}">Каталог</a>
    <span> / </span>
    {% for category in category_bread_crumbs %}
        <a href="{% url 'category' category.pk %}">{{ category.name }}</a>
        <span> / </span>
    {% endfor %}
{% endblock %}


{% block page_header %}
    <span>{{ category.name }}</span>
{% endblock %}



{% block core__sidebar_wrapper %}
    {% if category_menu %}
    <section class="shop__sidebar_block white_box">
        <h1 class="category_sidebar__h1">Подкатегории</h1>
        <ul class="ul__column">
            {% for category in category_menu %}
                <li class="category_sidebar__li">
                    <a class="btn btn__light" href="{% url 'category' category.pk %}">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}
    {% if relations %}
    <section class="shop__sidebar_block white_box">
        <h1 class="category_sidebar__h1">Смотрите так же</h1>
        <ul class="ul__column">
            {% for category in relations %}
                <li class="category_sidebar__li">
                    <a class="btn btn__light" href="{% url 'category' category.pk %}">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}
{% endblock %}


{% block core__main %}
    <div class="tyle__wrapper">
        {% for subcategory in category.get_children %}
            {% if subcategory.level == category.level|add:"1" %}
                {% include 'shop/category_tyle.html' %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
